

#container{
display:grid;
border: 1px solid black;
grid-template-columns: 1fr 3fr;
grid-template-rows:  calc(16vh - 10px) calc(16vh - 10px) calc(16vh - 10px) calc(16vh - 10px) calc(16vh - 10px) calc(16vh - 10px);
grid-column-gap: 10px;
grid-row-gap: 10px;
}

#container .titulo{

  padding: 9px;
  border-radius: 5px;
  grid-column: 2/2;
  grid-row: 1/2;
}
#container .foto{
  padding: 9px;

  border-radius: 5px;
  grid-column: 2/2;
  grid-row:  2/3 ;
}
#container .foto img{
  width: 30%;
  height: 105%;

}
#container .informacio{
  padding: 9px;

  border-radius: 5px;
  grid-column: 2/2;
  grid-row:  3/4 ;
}
#container .uno{
  padding: 9px;

  border-radius: 5px;
  grid-column: 1/1;
  grid-row:/ ;
}
#container .uno img{
  height: 50px;
  width: 50px;
}
#container .dos{
  padding: 9px;

  border-radius: 5px;
  grid-column: 1/1;
  grid-row:/ ;
}
#container .dos img{
  height: 50px;
  width: 50px;
}
#container .tres{
  padding: 9px;

  border-radius: 5px;
  grid-column: 1/1;
  grid-row:/ ;
}
#container .tres img{
  height: 50px;
  width: 50px;
}
#container .cuatro{
  padding: 9px;

  border-radius: 5px;
  grid-column: 1/1;
  grid-row:/ ;
}
#container .cuatro img{
  height:50px;
  width: 50px;
}
#container .cico{
  padding: 9px;

  border-radius: 5px;
  grid-column: 1/1;
  grid-row: /;
}
#container .cico img{
  height: 50px;
  width: 60px;
}
#container .peu{
  padding: 70px;
 text-align: center;
  border-radius: 5px;
  grid-column: 2/2;
  grid-row:6/7;
}
#container p {
  color:black;
}
#container{
  background-color: #ffffff7d;
}
