
#container{
display:grid;
border: 1px solid black;
grid-template-columns: 1fr 2.5fr 0.5fr 2.5fr 1fr;
grid-template-rows:  calc(15vh - 10px) calc(30vh - 10px) calc(10vh - 10px) calc(30vh - 10px) calc(15vh - 10px) ;

background-color: #ffffff7d;
}


#container .celda1{
  padding: 9px;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row:2/3 ;
}

#container .celda1 img{
  width: 55%;
  height: 120%;Black
}

#container .celda2{
  padding: 9px;
  border-radius: 5px;
  grid-column: 4/5;
  grid-row:2/3 ;
}


#container .celda2 img{
  width: 55%;
  height: 120%;
}

#container .celda3{
  padding: 9px;
  border-radius: 5px;
  grid-column:2/3;
  grid-row: 4/5;
}


#container .celda3 img{
  width: 55%;
  height: 120%;
}
#container .celda4{
  padding: 9px;
  border-radius: 5px;
  grid-column:4/4;
  grid-row: 4/4;
}


#container .celda4 img{
  width: 60%;
  height: 120%;
}

p{
  color: Black;
background-color: #ffffff7d;
}
h1{
  color: Black;
  text-decoration: underline;
  background-color: #ffffff7d;
}
footer{
  color: Black;
  background-color: #ffffff7d;
}
